body{
  background-color: blue;
}
a {
  text-decoration: none;
}



.menu {
  background: #e0e0e0;
  border-top: 1px solid #CFCFCF;
  width: 40rem;
  margin: 0 auto;
}

.menu-item {
  font-family: Roboto;
  font-size: 0.9rem;
  font-weight: 800;
  color: #292929;
  display: inline-block;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #CFCFCF;
}


.menu-item:hover{
  background: white;
  border-bottom: none;
  border-right: 1px solid #CFCFCF;
  border-left: 1px solid #CFCFCF;
  margin: 0 -1px;
}

.menu-item--current .menu-item__link {
  color: #333333;
  border-bottom: 2px solid #333;
  padding-bottom: 0.3rem;
}

.sub-menu {
  width: 40rem;
  margin: auto;
  height: 20rem;
  background: red;
}

.sub-menu-main-div div{
  display: inline-block;
}

.sub-menu-categories {
  vertical-align: top;
  background-color: aqua;
  display: inline-block;
}

.sub-menu-visual{
  background-color: blueviolet;
}

.sub-menu-visual-img{
  
}